*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body{
    background-color: lightgray;
}
.main-wrapper{
    max-width: 50%;
    min-height: 100vh;
    margin: 0 auto;
    background-color: white;
    position: relative;
}
.header-1,
.header-2 {
    text-align: center;
    padding: 20px;
}
.header-1{
    background-color: rgb(33, 33, 200);
    color: white;
}
.header-2{
    background-color: rgb(103, 103, 218);
}
.body{
    padding: 20px;
}
input,
button{
    padding: 5px 10px;
    font-size: 1.2em;
    border: none;
    outline: none;
}
button{
    cursor: pointer;
}

button:hover{
    background-color: yellow;
}
table{
    width: 100%;
    font-size: 1.2em;
}
td{
    border: 1px solid black;
    padding: 5px;
}
table thead tr{
background-color: salmon;
}

#success-msg,
#error-msg{
    position: absolute;
    padding: 10px 20px;
    top: 20px;
    right: 10px;
    /* display: none; */
}

#success-msg{
    background-color: rgb(31, 57, 25);

}
#error-msg{
    background-color: rgb(187, 71, 51);
}
@media screen and (max-width: 768px){
    .main-wrapper{
        max-width: 100%;
    }
    .header-2{
        display: flex;
        flex-direction: column;
        gap: 5px 0;
    }
    #error-msg,
    #success-msg{
        right: 0;
        top: 55px;
    }
}